.popup__input-error {
  position: absolute;
  z-index: 2;
  inline-size: 100%;
  block-size: 25px;
  margin-left: -100%;
  margin-top: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
}