.popup__button-isunactive {
  opacity: 0.2;
  border: 1px solid #000000;
  background: #fff;
  color: black;
  pointer-events: none;
}

.popup__button-isunactive:hover {
  background: #fff;
  cursor: auto;
}